.btn {
  border-radius:0 !important;
  border-width:2px !important;
  @include font-size(18);
  text-transform:uppercase;
  padding: .5rem 1.25rem !important;
  white-space:normal !important;
}

.btn-main {
  background-color:$dark-accent;
  border-color:$dark-accent;
  color: white;
  font-size: .8rem;
}

.btn-light {
  background-color:$light-accent;
  border-color:$light-accent;
}

.btn-main, .btn-light {
  &:hover, &:active, &:focus {
    background-color:$dark-shade !important;
    border-color:white !important;
    box-shadow:none !important;
    color:white;
  }
}

@each $color, $value in $branding {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $branding {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}

.btn-outline-white {
  color:white;
  background-color:transparent;
  border-color:white;

  &:hover {
    background-color:white;
    color:$dark-accent;
  }
}

.more {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1rem;
  background-color: $main-brand;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.8s linear;
  -webkit-transition: visibility 0s, opacity 0.8s linear;
}

.more:after {
  content: '\f067';
  color: white;
}

.member-item:hover .more {
  visibility: visible;
  opacity: 1;
}

.expanded .more:after {
  content: '\f068';
}