

// Pulls information for each bootstrap max breakpoint
@each $size, $value in $container-max-widths {
  
  // Strips units from widths
  $width: strip-unit($value);

  // Upon collapse of cols at the appropriate breakpoint:
  @include mq-max-width($width) {

    // adds a margin to the top of cols that come after cols
    [class^='col-#{$size}'] + [class^='col-#{$size}'] {
      //margin-top:($cspacer * 2); 
    }

    // switches bg clipping back to the outer edge of padding
    [class^="col-#{$size}"] {
      &[class*="bg-"] {
        background-clip:padding-box !important;
      }
    }

    // removes padding for container within fluid container
    .container-fluid .container {
      padding:0;
    }
  }
}