// cover links
.cover-link {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:100;
}

// half a fluid container contained by max-width
.half-contained {
  width:100%;
  max-width:570px;
  padding:0 1rem;
}

// hidden based on false boolean
.false {
  display:none;
}

// bg classes from branding colors
@each $color, $value in $branding {
  @include bg-variant('.bg-#{$color}', $value);
}

.bg-light-shade-transparent {
  background-color:rgba($light-shade, 0.7);
}

[class*="bg-dark-"], [class*="bg-main-"]  {
  color:white;

  .img-fluid {
    border-right: 30px solid white;
    border-left: 30px solid white;
  }
}



// bg classes from gray colors in bootstrap
@each $color, $value in $grays {
  @include bg-variant('.bg-#{$color}', $value);
}

// padding on div below contentpane
// usage: adding cpy-4 class to a div would add padding to top and bottom of the div underneath it
// mostly useful for cols with a bg color as the grid padding prevents padding of content without extra divs
@each $size, $length in $cspacers {

  .cp-#{$size} > div { padding: $length !important; }
  .cpt-#{$size} > div,
  .cpy-#{$size} > div {
    padding-top: $length !important;
  }
  .cpr-#{$size} > div,
  .cpx-#{$size} > div {
    padding-right: $length !important;
  }
  .cpb-#{$size} > div,
  .cpy-#{$size} > div {
    padding-bottom: $length !important;
  }
  .cpl-#{$size} > div,
  .cpx-#{$size} > div {
    padding-left: $length !important;
  }
}