footer {
  border-top: 0px solid #223541;

  #footer-navigation{
    flex-direction: column;
  }
  margin-top:auto;
  
  .upper {
    margin-bottom:0;

  }

  .disclaimer {
    @include font-size(17);

    p {
      margin-bottom:0;
    }

    ul.piped {
      list-style-type:none;
      margin:0;
      padding:0;
      display:flex;
      justify-content:center;
      flex-wrap:wrap;

      li + li:before {
        content:'';
        @include font-size(9);
        display:inline;
        vertical-align:baseline;
        border-left:1px solid white;
        margin:0 10px;
      }
    }
  }

  .social {
    list-style-type:none;
    margin:0;
    padding:0;
    display:flex;

    li + li {
      margin-left:.5rem;
    }

    a {
      @include font-size(24);
    }
  }
}
