/* Colors */

// Brand Colors
$light-shade: #EDEEEF !default;
$light-accent: #EBEACA !default;
$main-brand: #E67C3B !default;
$dark-accent: #1E335D !default;
$dark-shade: #5b5b5c !default;

$branding: () !default;
$branding: map-merge((
    "light-shade": $light-shade,
    "light-accent": $light-accent,
    "main-brand": $main-brand,
    "dark-accent": $dark-accent,
    "dark-shade": $dark-shade, 
), $branding);

// Text Colors
$anchor-color: $main-brand !default;
$font-color-dark: black;
$font-color-light: $white !default;

// Element Colors
$border-color: $gray-100 !default;